@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

html,
body {
  background: white;
}

body {
  background: white;
}

a {
  @apply underline underline-offset-2;
}
